<app-template-admin titulo="listarRealState">
    <h1 class="h3 mb-2 text-gray-800">Real States</h1>
    <p class="mb-4">The list of real states</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a routerLink="cadastro" class="btn btn-primary btn-icon-split btn-sm">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Adicionar</span>
            </a>
            <button [swal]="deleteSwal">Delete</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Content</th>
                            <th>Price</th>
                            <th>Bathrooms</th>
                            <th>Bedrooms</th>
                            <th>Property Area</th>
                            <th>Total Propert Area</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let realState of realStates">
                            <td>{{ realState.id }}</td>
                            <td>{{ realState.user.name }}</td>
                            <td>{{ realState.title }}</td>
                            <td>{{ realState.description }}</td>
                            <td>{{ realState.cotent }}</td>
                            <td>{{ realState.price }}</td>
                            <td>{{ realState.bathrooms }}</td>
                            <td>{{ realState.bedrooms }}</td>
                            <td>{{ realState.property_area }}</td>
                            <td>{{ realState.total_property_area }}</td>
                            <td>{{ realState.created_at }}</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-template-admin>

<swal
  #deleteSwal
  title="TESTE"
  text="This cannot be undone"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteFile(file)">
</swal>